.c-btn {
  width: 100%;
  padding-block: 1rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

.c-btn--primary {
  background-color: var(--clr-primary);
  color: var(--clr-background);
  cursor: pointer;

  &:hover {
    background-color: var(--clr-primary-variant);
  }
  &:active {
    background-color: var(--clr-secondary);
  }
  &:disabled {
    background-color: var(--clr-secondary-70);
    cursor: not-allowed;
  }
}

.c-btn--secondary {
  background-color: var(--clr-background);
  border: 1px solid var(--clr-primary);
  color: var(--clr-secondary);
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 0 1px var(--clr-primary);
  }
  &:active {
    background-color: var(--clr-primary);
    color: var(--clr-background);
  }
  &:disabled {
    background-color: var(--clr-secondary-70);
    cursor: not-allowed;
  }
}

.c-btn--secondary .c-btn--secondary .btn-dark {
  background-color: #1a1a1a;
  color: #ffffff;
}

.btn-light {
  background-color: #ffffff;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}
