.c-error-message {
  visibility: hidden;
  font-weight: 700;
  color: var(--clr-critical);
  font-size: 0.875rem;
  margin: 0;
}
.c-error-message--fs-normal {
  font-size: 1rem;
}
.visible {
  visibility: visible;
}
