.home__container {
  display: grid;
  place-content: center;
  gap: 6rem;
  text-align: center;

  & .home__header {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    & .home__title,
    & .home__subtitle {
      margin-block: 0;
      font-weight: 400;
    }

    & .home__title {
      font-size: 3rem;
    }

    & .home__subtitle {
      font-size: 1.25rem;
    }
  }
}

.home__nav {
  display: flex;
  gap: 1.5rem;

  & .link {
    border-radius: 0.25rem;
    text-transform: uppercase;
    width: 100%;
    padding: 0.75rem 0.5rem;

    &.link--light {
      border: 1px solid var(--clr-primary);
      color: #1a1a1a;

      &:hover {
        background-color: var(--clr-primary-variant);
        color: var(--clr-background);
      }

      &:active {
        background-color: var(--clr-primary);
      }
    }

    &.link--dark {
      background-color: var(--clr-primary);
      color: #ffffff;

      &:hover {
        background-color: var(--clr-primary-variant);
      }

      &:active {
        background-color: var(--clr-primary);
      }
    }
  }
}
