.home__container {
  display: grid;
  place-content: center;
  gap: 6rem;
  text-align: center;

  & .home__header {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    & .home__title,
    & .home__subtitle {
      margin-block: 0;
      font-weight: 400;
    }

    & .home__title {
      font-size: 3rem;
    }

    & .home__subtitle {
      font-size: 1.25rem;
    }
  }
}

.home__nav {
  display: flex;
  gap: 1.5rem;

  & .link {
    width: 100%;
    display: block;
    padding-block: 1rem;
    border-radius: 0.25rem;
    text-transform: uppercase;

    &.link--light {
      background-color: var(--clr-background);
      border: 1px solid var(--clr-primary);
      color: var(--clr-secondary);
      cursor: pointer;

      &:hover {
        box-shadow: inset 0 0 0 1px var(--clr-primary);
      }
      &:active {
        background-color: var(--clr-primary);
        color: var(--clr-background);
      }
      &:disabled {
        background-color: var(--clr-secondary-70);
        cursor: not-allowed;
      }
    }

    &.link--dark {
      background-color: var(--clr-primary);
      color: var(--clr-background);
      cursor: pointer;

      &:hover {
        background-color: var(--clr-primary-variant);
      }
      &:active {
        background-color: var(--clr-secondary);
      }
      &:disabled {
        background-color: var(--clr-secondary-70);
        cursor: not-allowed;
      }
    }
  }
}
