.imgProduct{
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
}
.formProduct{
    margin: 15px;
}
.buttonProduct{
    width: 7rem;
}

.containerButton{
   flex-direction: row;
   gap: 2rem;
   justify-content: center;
}
.container {
    background: burlywood;
}
.title{
    text-align: center;
}