.svg-eye path {
  stroke: var(--clr-secondary);
}

.svg-arrow-left path {
  fill: var(--clr-primary);
}

.svg-verification path {
  fill: var(--clr-success);
}

.svg-logo path {
  fill: var(--clr-primary);
}
