div {
  display: flex;
  flex-direction: column;
}

div span {
  color: var(--clr-critical);
  display: none;
}

input {
  border: 2px solid var(--clr-secondary-60);
  border-radius: var(--border-sm);
  padding: 0.5rem 1.5rem;
}

input:invalid[focused="true"] {
  border-color: var(--clr-critical-secondary);
  color: var(--clr-critical);
}

input:invalid[focused="true"] ~ span {
  display: block;
}
