body {
    background-color: #ffffff;
    color: #1a1a1a;
}

main {
    display: grid;
    place-content: center;
    gap: 2rem;
    text-align: center;
    padding: 2rem;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2 {
    margin-block: 0;
}

nav {
    display: flex;
    gap: 1rem;
}

.btn {
  border-radius: 0.25rem;
  text-transform: uppercase;
  width: 100%;
  padding: .75rem .5rem;
}

.btn-dark {
  background-color: #1a1a1a;
  color: #ffffff;
}

.btn-light {
  background-color: #ffffff;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}