.security-question-dropdown {
  padding: 1rem;
  border: 2px solid var(--clr-secondary-60);
  border-radius: var(--border-sm);
  width: 100%;
}

.security-question-input .c-input {
  padding: 1rem;
  border: 2px solid var(--clr-secondary-60);
  border-radius: var(--border-sm);
  width: 100%;
}

input[data-focused="true"] {
  border-color: #66afe9;
  outline: none;
}
