/* Custom variables */
:root {
  --clr-background: #fcfaf8;
  --clr-primary: #a2562c;
  --clr-primary-variant: #784021;
  --clr-secondary: #312e2a;
  --clr-secondary-70: #312e2ab3;
  --clr-secondary-60: #312e2a99;
  --clr-secondary-30: #312e2a4d;
  --clr-secondary-10: #312e2a1a;
  --clr-critical: #cc4749;
  --clr-critical-secondary: #f16a6c;
  --clr-warning: #ffc22d;
  --clr-success: #5a8b29;
  --clr-soft: #808080;
  --clr-text: var(--clr-secondary);
  --clr-main-bg: var(--clr-background);

  --border-xs: 0.25rem;
  --border-sm: 0.375rem;
}

@font-face {
  font-family: "BalsamiqSans";
  src: local("BalsamiqSans-Regular"),
    url("./assets/fonts/BalsamiqSans-Regular.ttf");
}

@font-face {
  font-family: "BalsamiqSans-Bold";
  src: local("BalsamiqSans-Bold"), url("./assets/fonts/BalsamiqSans-Bold.ttf");
}

/* My minimal reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "BalsamiqSans";
  min-height: 100dvh;
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-main-bg);
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  background-color: transparent;
}

input:focus {
  outline: none;
}

button {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Main styles */
body {
  display: grid;
  place-content: center;
  padding: 1rem;
  font-family: "BalsamiqSans";
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
