/* Custom variables */
:root {
  --clr-primary: #1a1a1a;
  --clr-secondary: #ffffff;
  --clr-soft: #808080;
  --clr-text: var(--clr-primary);
  --clr-main-bg: var(--clr-secondary);

  --border-xs: 0.25rem;
  --border-sm: 0.375rem;
}

@font-face {
  font-family: "BalsamiqSans";
  src: local("BalsamiqSans-Regular"),
    url("./assets/fonts/BalsamiqSans-Regular.ttf");
}

@font-face {
  font-family: "BalsamiqSans-Bold";
  src: local("BalsamiqSans-Bold"), url("./assets/fonts/BalsamiqSans-Bold.ttf");
}

/* My minimal reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "BalsamiqSans";
  min-height: 100dvh;
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-main-bg);
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  background-color: transparent;
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

